<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}
{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.Language.Locale }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.Language.Locale }}" class="light">
{{- else -}}
<html lang="{{ .Site.Language.Locale }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        <main aria-label="Content">
            {{- $page := . -}}
            {{- with resources.Get "images/avik-eiffel.jpg" }}
            {{- $portrait1x := .Fill "140x140 center webp" -}}
            {{- $portrait2x := .Fill "280x280 center webp" -}}
            {{- $portrait3x := .Fill "420x420 center webp" -}}
            <section class="author" aria-labelledby="site-title">
                <img
                    class="author-avatar"
                    src="{{ $portrait1x.RelPermalink }}"
                    srcset="{{ $portrait2x.RelPermalink }} 2x, {{ $portrait3x.RelPermalink }} 3x"
                    alt="Portrait of the author"
                    width="{{ $portrait1x.Width }}"
                    height="{{ $portrait1x.Height }}" />
                <h1 id="site-title" class="author-name">{{ $page.Site.Title }}</h1>
                <p class="author-bio">{{ $page.Site.Params.description }}</p>
            </section>
            {{- end }}
            {{- $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections -}}
            {{- $posts := $pages.ByDate.Reverse -}}
            {{- $featuredPosts := where $posts "Params.featured" true -}}

            {{- with $featuredPosts }}
            <section aria-labelledby="featured-posts">
                <h3 id="featured-posts" class="posts-item-note">Featured</h3>
                {{- range . }}
                {{ partial "postCard" . }}
                {{- end }}
            </section>
            {{- end }}

            <section aria-labelledby="all-posts">
                <h3 id="all-posts" class="posts-item-note">All articles</h3>
                {{- $paginator := .Paginate $posts -}}
                {{- range $paginator.Pages }}
                {{ partial "postCard" . }}
                {{- end }}
                {{ template "_internal/pagination.html" . }}
            </section>
        </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
